@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply
            flex
            items-end
            sm:grid
            h-72
            sm:h-80
            select-none
        ;
    }

    .arrow-minimize {
        @apply
            absolute
            rounded
            ml-5
            sm:ml-9
            flex
            items-center
            justify-center
            text-xl
            font-bold
            border
            border-slate-700
            hover:bg-slate-700
            hover:text-slate-300
            w-4
            h-8
            cursor-pointer
            rotate-90
        ;
    }

    .wrapper-text {
        @apply
            sm:flex
            sm:items-center
            sm:justify-center
        ;
    }

    .container-text {
        @apply
            grid
            text-justify
            bg-slate-800
            rounded-md
            rounded-br-3xl
            px-3
            pb-3
            w-96
            sm:w-11/12
            h-56
            border
            border-slate-700
            shadow
            shadow-slate-700
        ;
    }

    .box-text {
        @apply
            my-2
            h-36
            overflow-auto
            bg-scroll
            pr-1
        ;
    }

    .box-button {
        @apply
            flex
            justify-center
            h-8
        ;
    }

    .button {
        @apply
            px-4
            w-56
            h-8
            rounded-t-md
            rounded-b-3xl
            bg-gradient-to-r from-purple-600 to-pink-600
            hover:bg-gradient-to-r hover:from-purple-700 hover:to-pink-700
        ;
    }

    .container-robot {
        @apply
            flex
            items-end
            sm:items-center
            sm:justify-center
            mt-20
            sm:mt-10
            cursor-pointer
        ;
    }

    .first-balon {
        @apply
            h-4
            w-4
            mb-14
            sm:hidden
            border
            border-slate-700
            rounded-full
            bg-slate-800
            shadow
            shadow-slate-700
        ;
    }

    .second-balon {
        @apply
            h-2
            w-2
            mb-12
            sm:hidden
            rounded-full
            border
            border-slate-700
            bg-slate-800
            shadow
            shadow-slate-700
        ;
    }

    .robot {
        @apply
            animate-bounce
            relative
            inline-flex
            rounded-full
            h-16
            w-16
            bg-sky-500
        ;
    }

    .ping-robot {
        @apply
            animate-ping
            absolute
            inline-flex
            h-16
            w-16
            rounded-full
            bg-sky-700
            opacity-75
        ;
    }

    .container-buttons {
        @apply
            h-8
            flex
            justify-end
        ;
    }

    .button-back {
        @apply
            px-4
            w-24
            h-7
            mr-1
            rounded-l-sm
            border-2
            border-slate-700
            hover:bg-slate-700
        ;
    }

    .button-next {
        @apply
            px-4
            w-24
            h-7
            rounded-tr-sm
            rounded-br-2xl
            bg-gradient-to-r from-purple-600 to-pink-600
            hover:bg-gradient-to-r hover:from-purple-700 hover:to-pink-700
            disabled:bg-gradient-to-r disabled:from-slate-600 disabled:to-slate-700
        ;
    }

    .link {
        @apply
            text-violet-500
            hover:text-violet-400
            pb-3
        ;
    }
}
