<div class="wrapper">
    <div class="mb-16 sm:mb-0">
        <div
            id="arrow-minimize"
            class="arrow-minimize"
            (click)="onHiddenText()"
            *ngIf="options.enableHiddenText && !hiddenText"
        >
            >
        </div>

        <div class="wrapper-text">
            <div
                id="container-text"
                class="container-text"
                [ngClass]="options.enableHiddenText ? 'pt-5' : 'pt-2'"
                *ngIf="!hiddenText"
            >
                <div class="box-text">
                    <p id="first-paragraph">
                        {{ options?.paragraph[index]?.firstParagraph | translate }}
                    </p>
                    <p id="second-paragraph" class="mt-4">
                        {{ options?.paragraph[index]?.secondParagraph | translate }}
                    </p>
                    <p id="third-paragraph" class="mt-4">
                        {{ options?.paragraph[index]?.thirdParagraph | translate }}
                    </p>
                </div>

                <div class="box-button" *ngIf="options?.singleButton!">
                    <button id="button-single" class="button" (click)="onNavigate()">
                        {{ options?.textSingleButton | translate }}
                    </button>
                </div>

                <div class="container-buttons" *ngIf="!options?.singleButton!">
                    <button
                        id="button-back"
                        class="button-back"
                        (click)="onPreviousInstruction()"
                        [disabled]="onDisabledButtonPrevious()"
                    >
                        {{ 'back' | translate }}
                    </button>
                    <button
                        id="button-next"
                        class="button-next"
                        (click)="onNextInstruction()"
                        [disabled]="onDisabledButtonNext()"
                    >
                        {{ 'next' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-robot" (click)="onHiddenText()">
        <span id="first-balon" class="first-balon" *ngIf="!hiddenText"></span>
        <span id="second-balon" class="second-balon" *ngIf="!hiddenText"></span>
        <span class="robot">
            <span class="ping-robot"></span>
        </span>
    </div>
</div>
