<div class="wrapper">
    <div class="container-text">
        <div class="box-text">
            <p id="first-paragraph">{{ options?.paragraph[index]?.firstParagraph | translate }}</p>
            <p id="second-paragraph">{{ options?.paragraph[index]?.secondParagraph | translate }}</p>
            <p id="third-paragraph" class="mt-2">{{ options?.paragraph[index]?.thirdParagraph | translate }}</p>
        </div>

        <div class="box-button" *ngIf="options?.singleButton!">
            <button id="button-single" class="button" (click)="onNavigate()">
                {{ options?.textSingleButton | translate }}
            </button>
        </div>

        <div class="container-buttons" *ngIf="!options?.singleButton!">
            <button
                id="button-back"
                class="button-back"
                (click)="onPreviousInstruction()"
                [disabled]="onDisabledButtonPrevious()"
            >
                {{ 'back' | translate }}
            </button>
            <button
                id="button-next"
                class="button-next"
                (click)="onNextInstruction()"
                [disabled]="onDisabledButtonNext()"
            >
                {{ 'next' | translate }}
            </button>
        </div>
    </div>

    <div class="container-robot">
        <span class="first-balon"></span>
        <span class="second-balon"></span>
        <span class="robot">
            <span class="ping-robot"></span>
        </span>
    </div>
</div>
