<section id="season" class="wrapper">
    <div class="w-3/4 sm:w-11/12">
        <div class="text-justify">
            <h1 class="text-4xl font-bold mb-4 text-center">{{ 'introduction' | translate }}</h1>
            <p class="mb-2">{{ 'text-introduction' | translate }}</p>
            <p class="mb-2">{{ 'text-introduction-second' | translate }}</p>
            <p class="mb-2">{{ 'text-introduction-third' | translate }}</p>
        </div>
        <div class="wrapper">
            <div class="w-3/4 sm:w-full">
                <div class="container-first-level">
                    <p class="title-module">{{ 'season-first' | translate }}</p>

                    <div class="first-level">
                        <div class="container-image-button">
                            <div class="flex items-center justify-center">
                                <div class="helmet-astronaut"></div>
                            </div>

                            <button id="button-season" class="button" (click)="onNavigateSeason()">{{ 'start-adventure' | translate }}</button>
                        </div>

                        <div class="container-text">{{ 'text-season-first' | translate }}</div>
                    </div>
                </div>

                <div class="container-first-level opacity-50">
                    <p class="title-locked">{{ 'season-second' | translate }}</p>

                    <div class="container-locked">
                        <div class="locked"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
