<section id="season" class="wrapper">
    <div class="w-2/4">
        <div class="container-first-level">
            <p class="title-module">{{ 'module-introduction' | translate }}</p>
            <div class="first-level">
                <div class="container-image-button">
                    <div class="flex items-center justify-center">
                        <div class="helmet-astronaut"></div>
                    </div>

                    <button id="button-season" class="button">{{ 'start-adventure' | translate }}</button>
                </div>

                <div class="container-text">{{ 'text-module-introduction' | translate }}</div>
            </div>
        </div>

        <div class="container-first-level opacity-50">
            <p class="title-locked">{{ 'module-intermediate' | translate }}</p>
            <div class="container-locked">
                <div class="locked"></div>
            </div>
        </div>
    </div>
</section>
