<section class="wrapper">
    <div class="w-full">
        <div class="first_container">
            <div>
                <h1 class="h1">{{ 'title-home' | translate }}</h1>

                <h3 class="h3">{{ 'subtitle-first-home' | translate }}</h3>
                <h3 class="h3">{{ 'subtitle-second-home' | translate }}</h3>

                <button id="button-season" class="button mt-10" (click)="onNavigateSeason()">{{ 'button-play-home' | translate }}</button>

                <p class="subtitle_button mb-10">{{ 'button-subtitle-home' | translate }}</p>

                <app-initial-game></app-initial-game>
            </div>
        </div>

        <div class="second_container">
            <h2 class="h2 pt-5">{{ 'title-two-problem' | translate }}</h2>

            <div class="container_two_problem">
                <div>
                    <h3 class="h3">{{ 'title-first-problem' | translate }}</h3>

                    <div class="wrapper_text_first_problem">
                        <div class="container_text_first_problem">
                            <p>{{ 'paragraph-one-first-problem' | translate }}</p>
                            <p>{{ 'paragraph-two-first-problem' | translate }}</p>
                            <p>{{ 'paragraph-three-first-problem' | translate }}</p>
                        </div>
                    </div>
                </div>

                <div class="sm:pt-3">
                    <h3 class="h3">{{ 'title-second-problem' | translate }}</h3>

                    <div class="wrapper_text_second_problem">
                        <div class="container_text_second_problem">
                            <p>{{ 'paragraph-one-second-problem' | translate }}</p>
                            <p>{{ 'paragraph-two-second-problem' | translate }}</p>
                            <p>{{ 'paragraph-three-second-problem' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="h2 pt-5">{{ 'solution' | translate }}</h2>

            <p class="pb-5">{{ 'subtitle-solution' | translate }}</p>

            <div class="flex justify-center items-center pb-5">
                <div class="gif_simulation">GIF</div>
            </div>
        </div>

        <div class="third_container">
            <div>
                <h2 class="h2">{{ 'title-mission' | translate }}</h2>

                <h3 class="h3">{{ 'subtitle-mission' | translate }}</h3>

                <div class="wrapper_text_third_problem">
                    <div class="container_text_third_problem">
                        <p>{{ 'paragraph-one-mission' | translate }}</p>
                        <p>{{ 'paragraph-two-mission' | translate }}</p>
                        <p>{{ 'paragraph-three-mission' | translate }}</p>
                        <p>{{ 'paragraph-four-mission' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fourth_container mb-10">
            <h2 class="h2 pt-5">{{ 'title-fourth-container' | translate }}</h2>

            <p>{{ 'button-subtitle-home' | translate }}</p>

            <button id="button-season" class="button mt-8" (click)="onNavigateSeason()">{{ 'button-play-home' | translate }}</button>
        </div>
    </div>
</section>
