@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply
            flex
            h-[86vh]
            items-center
            justify-center

            sm:h-auto
            sm:w-auto
            sm:p-0
            sm:m-0
        ;
    }

    .container-main-glass {
        @apply
            w-[96vw]
            h-[60vh]
            border-x-2
            border-t-2
            border-slate-400
            flex
            bg-slate-600
            items-center
            justify-center
            rounded-t-[200px]
            p-4

            sm:mt-2
            sm:rounded-t-[0px]
            sm:h-auto
            sm:w-auto
            sm:p-1
        ;
    }

    .main-glass {
        @apply
            w-[94vw]
            h-full
            rounded-b-lg
            rounded-t-[200px]
            border
            border-slate-700
            bg-[url('/assets/images/marte.jpg')]
            bg-cover
            flex
            items-center
            px-7
            justify-between

            sm:grid
            sm:rounded-t-[0px]
            sm:w-full
            sm:h-full
            sm:px-1
        ;
    }

    .container-root-css {
        @apply
            grid
            mt-16
            mr-1

            sm:mt-2
            sm:mr-0
        ;
    }

    .panel-root {
        @apply
            ml-8

            sm:ml-0
        ;
    }

    .panel-html {
        @apply
            mt-24
            ml-1

            sm:mt-0
            sm:ml-0
        ;
    }

    .command-room {
        @apply
            w-[96vw]
            h-[20vh]
            border-x-2
            border-b-2
            border-slate-400
            bg-slate-600
            flex
            items-end
            justify-center
            rounded-b-[100px]

            sm:rounded-b-none
            sm:w-auto
            sm:h-auto
        ;
    }

    .container-command-details {
        @apply
            h-full
            w-32
            pt-5

            sm:hidden
        ;
    }

    .command-details {
        @apply
            h-1
            w-28
            mb-1
            bg-slate-700
        ;
    }

    .command-bank {
        @apply
            sm:h-14
            sm:w-24
            h-40
            w-52
            flex
            items-center
            justify-center
            rounded-t-3xl
            bg-gray-800
            border-t
            border-x
            border-gray-700
            mx-14
            sm:mx-1
        ;
    }

    .command-bank-line {
        @apply
            h-[0.1rem]
            w-28
            sm:w-8
            bg-slate-300
            -rotate-45
        ;
    }

    .command-bank-all-head {
        @apply
            flex
            justify-center
            items-end
            z-10
        ;
    }

    .command-bank-head {
        @apply
            w-24
            h-12
            flex
            items-end
            justify-center
            bg-stone-900
            rounded-t-[41px]
            z-10

            sm:w-12
            sm:h-8
        ;
    }

    .command-head-line {
        @apply
            h-4
            w-2
            sm:h-2
            sm:w-1
            bg-slate-300
            z-10
        ;
    }

    .command-bank-ear-left {
        @apply
            w-2
            h-3
            bg-stone-900
            rounded-tl-lg
            mx-[-1px]
            z-10
        ;
    }

    .command-bank-ear-right {
        @apply
            w-2
            h-3
            bg-stone-900
            rounded-tr-lg
            mx-[-1px]
            z-10
        ;
    }

    .wrapper-command-button {
        @apply
            w-40
            sm:w-32
            h-full
            flex
            items-start
        ;
    }

    .container-command-button {
        @apply
            w-full
            cursor-default
            select-none
            bg-slate-700
            px-5
            sm:px-2
            pt-3
            sm:pt-2
            pb-2
            sm:pb-1
            rounded-sm
            mt-[-9px]
        ;
    }

    .command-button-inactive {
        @apply
            h-8
            sm:h-7
            mb-1
            rounded
            border
            border-red-800
            hover:border-red-700
            bg-red-700
            hover:bg-red-600
        ;
    }

    .command-button-active {
        @apply
            h-8
            sm:h-7
            mb-1
            rounded
            border
            border-green-800
            hover:border-green-700
            bg-green-700
            hover:bg-green-600
        ;
    }

    .command-button-function {
        @apply
            text-[0.5rem]
            text-right
            text-slate-300
            mr-1
            mb-[0.1rem]
        ;
    }

    .command-button-status {
        @apply
            mt-[-5px]
            text-center
            text-sm
            font-bold
        ;
    }

    .container-helper {
        @apply
        absolute
        bottom-10
        right-10

        sm:fixed
            sm:bottom-auto
            sm:right-auto
            sm:pb-36
        ;
    }
}
